html {
  font-size: 1em;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #eeeeee;
  background-color: #000000;
  position: relative;
}

#root {
  width: 41.25rem;
  margin: auto;
  position: relative;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: calc(50vh - 9.375rem);
  left: calc(50vw - 12.5rem);
  width: 25rem;
  height: 18.75rem;
  background-color: #282a36;
  z-index: 3;
}

.modal h2 {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fffd73;
  color: black;
  padding: 0.625rem;
  font-size: 1.563rem;
  height: 5rem;
}

.modal > p,
.modal > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 8.5rem;
  padding: 0.625rem;
}

.modal > div {
  height: 12.5rem;
}

.modal p {
  font-size: 1rem;
}

.modal img {
  height: 4rem;
}

.modal .modal__buttonContainer {
  height: 4rem;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.modal button {
  box-sizing: border-box;
  width: 11.563rem;
  margin: 0.625rem;
  font-size: 1rem;
  font-weight: 700;
  height: 2.75rem;
  background-color: #444962;
  color: white;
  border: none;
  cursor: pointer;
}

.modal button:first-of-type {
  margin-right: 0.313rem;
}

.modal button:last-of-type {
  margin-left: 0.313rem;
}

.modal button:hover,
.modal button:focus {
  background-color: #565e86;
}

.h1__title {
  text-align: center;
  font-size: 2.6rem;
  color: #fffd73;
  line-height: 1;
}

.div__subtitle {
  padding-top: 0.5rem;
  color: #fffd73;
  display: flex;
  justify-content: center;
}

.authorLink {
  margin-right: 0.7rem;
}

.div__subtitle a {
  color: #fffd73;
}

.mediumLink {
  margin-left: 0.7rem;
}

.benchmarkEditor__label,
.p__parameters,
.p__componentSelect,
.runButton {
  border-bottom: 0.188rem solid #fffd73;
  margin: 0.938rem 0 0.375rem 0;
  font-size: 1.25rem;
}

.benchmarkEditor__label,
.p__parameters,
.p__componentSelect {
  display: block;
}

.parametersContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.parametersContainer {
  width: 100%;
}

.parametersContainer,
.totalRendersContainer,
.benchmarkArgumentInputItem {
  box-sizing: border-box;
}

.parametersContainer label,
.totalRendersContainer label,
.parametersContainer input,
.totalRendersContainer input {
  font-size: 1rem;
}

.benchmarkArgumentInputItem,
.totalRendersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.benchmarkArgumentInputItem {
  padding-right: 0.188rem;
}

.benchmarkArgumentInputItem--lastInRow {
  padding-right: 0;
}

.benchmarkArgumentInputItem--multipleArgs,
.totalRendersContainer--twoArgs {
  width: 33.3333333%;
}

.benchmarkArgumentInputItem input,
.totalRendersContainer input {
  width: 1.875rem;
  flex-grow: 1;
  margin-bottom: 0.188rem;
  color: #eeeeee;
  background-color: #282a36;
  border: none;
  padding: 0.25rem;
}

.totalRendersContainer input::-webkit-inner-spin-button,
.totalRendersContainer input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.totalRendersContainer input {
  -moz-appearance: textfield;
}

input[type='radio'] {
  display: none;
}

.componentSelectContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 3.125rem;
  box-sizing: border-box;
}

.componentSelectContainer--selected {
  background-color: rgb(42, 39, 52);
}

.benchmarkCode {
  position: relative;
}

.hooksComponentSelectContainer {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 27.6rem auto 0.188rem auto 0.188rem auto 0.188rem auto;
  grid-template-rows: 3.125rem;
  z-index: 1;
}

.radioContainer,
.memoRadioContainer,
.runButton {
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #444962;
  user-select: none;
  color: white;
}

.radioContainer,
.memoRadioContainer {
  font-weight: bold;
}

.radioContainer {
  width: 33.333333%;
  height: calc(100%-0.188rem);
  margin-bottom: 0.188rem;
}

.radioContainer label,
.memoRadioContainer label {
  cursor: pointer;
}

.radioContainer:hover,
.radioContainer:focus,
.memoRadioContainer:hover,
.memoRadioContainer:focus,
.runButton:hover,
.runButton:focus {
  background-color: #565e86;
}

.radioContainer--checked,
.radioContainer--checked:hover,
.memoRadioContainer--checked,
.memoRadioContainer--checked:hover {
  background-color: #fffd73;
  color: black;
}

.radioContainer--checked label:hover,
.radioContainer--checked:hover label:hover {
  cursor: auto;
}

.radioContainer:first-of-type {
  margin-right: 0.188rem;
}

.radioContainer:last-of-type {
  margin-left: 0.188rem;
}

.radioContainer label {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memoRadioContainer {
  grid-row-start: 1;
}

.memoRadioContainer label {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#memoRadioContainer--naive {
  grid-column: 2 / 3;
}

#memoRadioContainer--memo {
  grid-column: 4 / 5;
}

#memoRadioContainer--function {
  grid-column: 6 / 7;
}

#memoRadioContainer--ref {
  grid-column: 8 / 9;
}

.runButton {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.25rem;
  width: 100%;
  height: 2.938rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

.radioContainer--disabled,
.memoRadioContainer--disabled,
.radioContainer--disabled:hover,
.memoRadioContainer--disabled:hover,
.radioContainer--disabled:focus,
.memoRadioContainer--disabled:focus,
.runButton--disabled,
.runButton--disabled:hover,
.runButton--disabled:focus,
#totalRendersInput:disabled {
  background-color: #6c6c6c;
  color: #515151;
  cursor: not-allowed;
  border: none;
}

.radioContainer--disabled label,
.memoRadioContainer--disabled label {
  cursor: not-allowed;
}

.radioContainer--checked.radioContainer--disabled label,
.memoRadioContainer--checked.memoRadioContainer--disabled label {
  background-color: #353535;
}

.p__parameters--disabled,
.p__componentSelect--disabled {
  border-bottom: 0.188rem solid #6c6c6c;
}

.p__parameters--disabled,
.parametersContainer--disabled,
.p__componentSelect--disabled {
  color: #6c6c6c;
}

.p--Error {
  box-sizing: border-box;
  background-color: #402325;
  border: 0.063rem solid #cc3d3d;
  padding: 0.25rem;
  margin: 0.313rem 0 0 0;
}

.benchmarkCode pre div span.token.plain,
.benchmarkCode pre div span.token.punctuation {
  color: #ffffff !important;
}

.benchmarkCode pre div span.token.function {
  color: #ff7e7e !important;
}

.Editor,
pre {
  width: 41.25rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Editor textarea {
  outline: 0;
}

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

code[class*='language-'],
pre[class*='language-'],
.Editor {
  color: #f8f8f2;
  background: #282a36;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 0.625rem;
  margin: 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #282a36;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1rem;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  html {
    font-size: 0.48em;
  }
}

@media only screen and (max-device-height: 480px) and (orientation: landscape) {
  html {
    font-size: 0.8em;
  }
}
