body {
  font-family: 'Roboto', sans-serif;
  color: #eeeeee;
  background-color: #000000;
  padding: 5px;
  margin: auto;
  width: 660px;
}

input {
  box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.16),
    inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.32);
}

input,
button {
  color: #eeeeee;
  background-color: #282a36;
  border: none;
  padding: 4px;
  margin: 4px 0;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 10px;
}

button {
  padding: 4px 10px;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.16),
    0 1px 2px rgba(255, 255, 255, 0.32);
}

.p__Error {
  box-sizing: border-box;
  background-color: #402325;
  border: 1px solid #cc3d3d;
  padding: 4px;
  margin: 5px 0 0 0;
}

.Editor,
pre {
  width: 660px;
  padding: 0;
  box-sizing: border-box;
}

.Editor textarea {
  outline: 0;
}

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

.Editor {
  box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.16),
    inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.32);
}

code[class*='language-'],
pre[class*='language-'],
.Editor {
  color: #f8f8f2;
  background: #282a36;
  font-family: 'Inconsolata', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 10px;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #282a36;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c;
}

.token.keyword {
  color: #8be9fd;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
